body {
    background: linear-gradient(40deg,#1A1A1A, #fc3d3d);
    animation: color 12s ease-in-out infinite;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height to fill the viewport */
    margin: 0; /* Remove default margin */
}

#connect-button {
    background-color: #fc3d3d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: 15px; /* Increase margin-top to move the button down */
    cursor: pointer;
}

#connect-button:hover {
    background-color: #ff5656;
}

#name {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container {
    text-align: center; /* Center-align content inside the container */
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a; /* Optional background color for the container */
    padding: 30px; /* Increase padding to make the container larger */
    border-radius: 10px; /* Optional rounded corners for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional box shadow */
}

form {
    margin-top: 20px; /* Add some space between the title and the form */
}

label {
    display: block; /* Make labels block-level for better spacing */
    margin-bottom: 5px; /* Add some space below labels */
}
