body {
    background: linear-gradient(45deg, #e03535, #d74c4c);
    animation: color 12s ease-in-out infinite;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    position: relative; 
}

.title-container {
    text-align: right;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a; 
    padding: 5px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    position: absolute; 
    top: 5%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.container-1 {
    text-align: center; 
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    padding: 5px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: center;
    left: 50%;
    transform: translateX(-50%);
}

